.ip {
	background-color: black;
	color: white;
}
.body {
	background-color: black;
	color: white;
}
.col {
	color: #FFCCCC;
	font-size: 18px;
}

.tri {
	display: inline-block;
	margin-left:50px;
	margin-top: 50px;
	float: left;
}
.top {
	display: inline-block;
	width: 500px;
	height: 350px;
	border: 1px solid white;
	margin-top: 80px;
	margin-right: 60px;
	float: right;
	background-color: #666666;	
}
.tip {
	height: 50px;
	padding-top:8px;
	padding-bottom:30px;
	font-size: 25px;
	border: 2px dashed white;
	margin-top: -1,5px;
}
.form {
	display: inline-block;
	width: 200px;
	background-color: #666666;
	border: 1px solid white;
	float: right;
}
.caf {
	display: inline-block;
	width: 1146px;
	color: white;
	border: 1px solid white;
	height: 71px;
	font-family: Segoe Script;
	font-size: 20px;
}
.caf1 {
	display: inline-block;
	width: 1129px;
	color: white;
	border: 1px solid white;
	height: 71px;
	font-family: Segoe Script;
	font-size: 20px;
}
